<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="M:\RmbPlayGround\VueJsFirstApp\budgetAllocationData.js"></script>

<script src="http://searls.github.io/jasmine-all/jasmine-all-min.js">
</script>

<body>

    <div id="app">
        {{ message }}
    </div>

    <script src="M:\RmbPlayGround\VueJsFirstApp\index.js"></script>

</body>

</html>